<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingfeng.system.mapper.UserOrganizeMapper">

    <!--查询分页列表-->
    <select id="findListPage" parameterType="UserOrganize" resultType="UserOrganize">
        select
        a.id as "id",
        a.user_id as "user_id",
        a.organize_id as "organize_id",
        a.type as "type",
        a.position as "position",
        a.authOrgIds as "authOrgIds",
        a.authParams as "authParams",
        a.authOrgCascade as "authOrgCascade",
        a.use_status as "use_status",
        a.order_by as "order_by",
        a.create_user as "create_user",
        a.create_time as "create_time",
        a.update_time as "update_time",
        b.name as "organize_name"
        from system_user_organize a
        left join system_organize b on a.organize_id = b.id
        where 1=1
        <if test="obj.user_id != null and obj.user_id != ''">
            and a.user_id = #{obj.user_id}
        </if>
        <if test="obj.organize_id != null and obj.organize_id != ''">
            and a.organize_id = #{obj.organize_id}
        </if>
        order by a.type+0 asc, a.order_by+0 asc , a.create_time desc
    </select>

    <select id="findUserOrganizeInfo" parameterType="UserOrganize" resultType="UserOrganize">
        select
        a.id as "id",
        a.user_id as "user_id",
        a.organize_id as "organize_id",
        a.type as "type",
        a.position as "position",
        a.authOrgIds as "authOrgIds",
        a.authParams as "authParams",
        a.authOrgCascade as "authOrgCascade",
        a.use_status as "use_status",
        a.order_by as "order_by",
        a.create_user as "create_user",
        a.create_time as "create_time",
        a.update_time as "update_time",
        b.name as "organize_name",
        b.org_cascade as "org_cascade"
        from system_user_organize a
        left join system_organize b on a.organize_id = b.id
        where 1=1
        <if test="user_id != null and user_id != ''">
            and a.user_id = #{user_id}
        </if>
        <if test="organize_id != null and organize_id != ''">
            and a.organize_id = #{organize_id}
        </if>
        order by a.use_status+0 asc,a.order_by+0 asc,a.type+0 asc
        limit 1
    </select>


    <select id="findUserOrganize" parameterType="com.qingfeng.utils.PageData" resultType="UserOrganize">
        select
        a.id as "id",
        a.user_id as "user_id",
        a.organize_id as "organize_id",
        a.type as "type",
        a.position as "position",
        a.authOrgIds as "authOrgIds",
        a.authParams as "authParams",
        a.authOrgCascade as "authOrgCascade",
        a.use_status as "use_status",
        a.order_by as "order_by",
        a.create_user as "create_user",
        a.create_time as "create_time",
        a.update_time as "update_time",
        b.name as "organize_name",
        b.org_cascade as "org_cascade"
        from system_user_organize a
        left join system_organize b on a.organize_id = b.id
        where 1=1
        <if test="user_id != null and user_id != ''">
            and a.user_id = #{user_id}
        </if>
        <if test="organize_id != null and organize_id != ''">
            and a.organize_id = #{organize_id}
        </if>
        order by a.use_status+0 asc,a.order_by+0 asc,a.type+0 asc
    </select>


</mapper>